.info_tab {
  width: 240px;
  height: 120px;
  border-radius: 9px;
  color: white;
  font-size: 15px;
  padding: 20px 20px;
  position: relative;
}

.info_tab h2 {
  margin-left: 10px;
  font-size: 30px;
}

.tab_description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab_description i {
  font-size: 25px;
}

#body {
  display: flex;
  flex-direction: row;
  font-family: "Nunito", sans-serif;
  position: relative;
  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
}

.welcome_user {
  margin-top: 30px;
}

.budget {
  font-size: 30px;
}

#income_tab {
  background-color: #1a936f;
}

#outcome_tab {
  background-color: #d21941;
}

#savings_tab {
  background-color: #1b62dd;
}

.amount {
  font-size: 20px;
}

.movements_list {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 700px;
}

.movement {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 10px;
  padding: 35px 35px;
  margin-top: 5px;
}

.circle-icon {
  display: inline-block;
  width: 35px; /* adjust this to your preferred size */
  height: 35px; /* adjust this to your preferred size */
  border-radius: 50%; /* this will create the circular shape */
  border: 1px solid rgb(23, 117, 74);
  color: rgb(25, 88, 52);
  text-align: center;
  line-height: 35px; /* adjust this to center the text vertically */
}

.add_new {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
}

.add_new:hover {
  transform: rotate(90deg);
}

.info_tab i {
  color: white;
}

#user_profile {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 30px;
  color: rgb(97, 89, 89);
}

.notifications {
  color: rgb(97, 89, 89);
}

#new_plan_btn {
  background-color: #1a936f;
  padding: 5px 20px;
  border: none;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new_plan_btn:hover {
  background-color: #448f79;
}

#new_plan_btn i {
  margin-left: 10px;
  color: white;
  margin-top: 2px;
}

.horizontal-line {
  border-top: 2px solid #126d52;
  margin-top: 30px;
}

.empty-list {
  color: grey;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list p {
  margin-top: 100px;
}

/* .hidden {
  display: none;
} */
