:root {
  --primary-color: white;
  --secondary-color: #1a936f;
  --text-color: white;
  --hover-color: #448f79;
}

#logo {
  width: 150px;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  position: relative;
}

.right_section {
  background-color: var(--primary-color);
}

.left_section {
  background: var(--secondary-color);
  color: var(--text-color);
  position: relative;
}

#submit_button {
  background-color: var(--secondary-color);
  /* borgb(23, 182, 39)r(--primary-color); */
  padding: 10px 55px;
  justify-self: center;
}

#submit_button:hover {
  background-color: var(--hover-color);
}

.icon {
  margin-left: 10px;
}

#header {
  font-size: 40px;
}

/*---------*/

#alert {
  position: fixed;
  top: 10px;
  left: 38%;
  /* right: 50%; */
  /* transform: translateX(-50%); */
  z-index: 3;
  font-size: 18px;
  padding: 20px 40px;
  width: 80%;
  max-width: 420px;
  text-align: center;
  background-color: #ad3b3be1;
  border: 1px solid #c74c52;
  border-left: 8px solid rgb(170, 15, 15);
  border-radius: 10px;
  color: #ffffff;
  /* 
  opacity: 1;
  transition: opacity 0.5s ease-in-out; */
}

/* #alert .show {
  opacity: 1;
} */

.hidden {
  display: none;
}

.bi-exclamation-triangle {
  font-size: 30px;
  padding-right: 10px;
  padding-left: 0px;
}
