:root {
  --primary-color: white;
  --secondary-color: #1a936f;
  --text-color: white;
  --hover-color: #448f79;
}

#logo {
  width: 150px;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  position: relative;
}

.right_section {
  background-color: var(--primary-color);
}

.left_section {
  background: var(--secondary-color);
  color: var(--text-color);
  position: relative;
}

#submit_button {
  background-color: var(--secondary-color);
  /* borgb(23, 182, 39)r(--primary-color); */
  padding: 10px 55px;
  justify-self: center;
}

#submit_button:hover {
  background-color: var(--hover-color);
}

.icon {
  margin-left: 10px;
}

#header {
  font-size: 40px;
}

/*---------*/

#alert {
  display: block;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;

  padding: 1rem;
  width: 80%;
  max-width: 400px;
  text-align: center;
  background-color: #ec3a3ae1;
  border: 1px solid #e92c35;
  border-radius: 10px;
  color: #ffffff;
}

.alert-show {
  opacity: 1;
}
